[submodule "test/cds-infrastructure-test"]
	path = test/cds-infrastructure-test
	url = https://github.com/CornellDataScience/cds-infrastructure-test.git
[submodule "PokerRL"]
	path = PokerRL
	url = https://github.com/EricSteinberger/PokerRL.git
